html body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* #main-header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5%;
} */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4.6875rem 1rem 2.5rem;
  background-color: rgb(24, 23, 23);
  align-items: center;
  padding: 30px 0px;
}

.logo {
  display: flex;
  justify-content: left;
  height: 9rem;
  width: 5rem;
  padding-left: 2.5rem;
}

.nav-bar {
  box-sizing: border-box;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgb(24, 23, 23);
  transition: 0.7s ease;
}

.nav-link:hover {
  color: rgb(230, 61, 57);
  cursor: pointer;
}

/* header ul {
  display: flex;
  margin: 0;
  padding-right: 2rem;
}

header li {
  margin-right: 1.5rem;
} */

/* header a {
}

header a:hover {
  color: rgb(230, 61, 57);
  cursor: pointer;
} */

/* .nav-links { 
  list-style: none;
  text-decoration: none;
  padding-right: 75px;
}  */

/* .nav-links li {
  display: inline-block;
  padding: 8px 5px;
  color: white;
  text-decoration: none;
} */

/* .nav-links li a {
  color: white;
  text-decoration: none;
  font-family: inherit;
} */

/* nav ul {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  margin: 10px;
  width: 250px;
  padding: 0;
}  */

#ja-carpentry h1 {
  font-size: 1rem;
  width: 55%;
  color: white;
  background-color: rgb(24, 23, 23);
  display: flex;
  justify-content: center;
  padding-right: 23rem;
  margin-left: 0px;
}

#ja-carpentry h2 {
  font-size: 0.75rem;
  width: 60%;
  color: white;
  background-color: rgb(24, 23, 23);
  display: flex;
  /* padding-left: 5rem; */
  margin-left: 2.5rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 60px;
  height: 8px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#about h2 {
  color: white;
  font-size: 3.125rem;
  letter-spacing: 1px;
}

#about {
  background-color: rgb(230, 61, 57);
  text-align: center;
  color: white;
  padding: 1rem 11rem;
  line-height: 25px;
  letter-spacing: 1px;
}

#about p a {
  text-decoration: none;
  color: rgb(24, 23, 23);
  font-weight: bold;
  transition: 0.5s ease;
}

#about p a:hover {
  color: rgb(239, 231, 7);
  text-decoration: underline;
}

#image img {
  width: 100%;
  background-size: contain;
  display: flex;
  justify-content: center;
  height: 41rem;
  object-fit: cover;
}

#services h2 {
  color: rgb(230, 61, 57);
  font-size: 3.125rem;
}

#services {
  background-color: rgb(24, 23, 23);
  text-align: center;
  color: white;
  padding: 1rem 1.5rem;
  /* margin: 0px; */
}

#services-paragraph {
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 1rem 11rem;
}

#services-img {
  display: flex;
  width: 100%;
  margin: auto;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.img-of-work {
  margin: 0 1rem;
}

.img-of-work img {
  height: 350px;
  width: 350px;
  box-shadow: 2px 4px 8px rgb(111, 111, 111);
  border-radius: 10px;
  background-size: contain;
  object-fit: cover;
  margin: 1rem;
}

.img-of-work h3 {
  text-align: left;
  margin: 0 1.5rem;
  padding: 2px;
}

.img-of-work p {
  text-align: left;
  color: white;
  margin: 0.625rem 6.25rem 0.3125rem 1.5rem;
  padding: 0.625rem, 11rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

#lists-of-services li {
  list-style: circle;
  text-align: left;
  color: white;
  margin: 0.125rem 1.5rem;
  padding: 1.5px, 25px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

#contact h2 {
  color: white;
  font-size: 3.125rem;
}

#contact {
  background-color: rgb(230, 61, 57);
  text-align: center;
  color: white;
  padding: 0.625rem 0 0.625rem 0;
  margin: 0px;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

#contact ul li a {
  text-decoration: none;
  color: rgb(24, 23, 23);
  font-weight: bold;
  transition: 0.5s ease;
}

#contact ul li a:hover {
  color: rgb(239, 231, 7);
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: rgb(24, 23, 23);
  color: white;
  padding: 0.625rem 0 0.625rem 0;
  letter-spacing: 1px;
}

footer ul {
  display: flex;
  justify-content: center;
}

.social-media {
  width: 4.5rem;
  height: 4.5rem;
  width: 5rem;
  height: 5rem;
  margin: 0.625rem 1rem;
  /* gap: 2rem; */
}

#check-a-trade {
  width: 22rem;
  height: 7rem;
  margin: 0.625rem 1rem;
}

footer img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1203px) {
  html body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .logo {
    padding-left: 1rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 175px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(24, 23, 23);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-bar {
    padding: 0px 25px;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #ja-carpentry h1 {
    display: none;
  }

  #ja-carpentry h2 {
    display: none;
  }

  #about h2 {
    text-align: center;
  }

  #about {
    padding: 5px;
  }

  #services-paragraph {
    padding: 2px;
  }

  #services-img {
    display: block;
    justify-content: center;
  }

  .img-of-work img {
    width: 100%;
  }

  .img-of-work p {
    padding: 0px;
  }

  .social-media {
    width: 6rem;
    height: 5rem;
    padding: 1px;
    margin: 1px;
  }
}
